:root {
    --main-color:#F8C471;
}

a {
	color: #542b00;
}

img {
	max-width: 100%;
}

.corner_img {
	display: block;
	position: absolute;
}

#header {
	background-color: BlanchedAlmond;
	background-image: url(img/header.png);
	background-repeat: no-repeat;
	background-position: center;
	height: 150px;
	text-align: center;
}

#main {
	min-height: 1300px;
	height: 100%;
	background-color: var(--main-color);
	background-image: url(img/photo_booth_overlay.png);
	border-left: 100px solid transparent;
	border-right: 100px solid transparent;
	border-image: url(img/spanish_tile_border.png) 100 round;

	font-family: 'Merienda';
}

#main h1 {
	font-size: 48px;
}

#main h2 {
	font-size: 28px;
	display: inline;
	padding-left: 20px;
	padding-right: 20px;
	vertical-align: middle;
}
.section_header img {
	display: inline;
	vertical-align: middle;
}
#main h3 {
	font-size: 24px;
}

#main p, li{
	font-size: 20px;
}
#center {
	padding-top: 20px;
	margin-left: 5%;
	margin-right: 5%;
	text-align: center;
	background: linear-gradient(to right, rgba(0,0,0, 0),
		rgba(248, 196, 113, 0.8) 20%, rgba(248, 196, 113, 0.8) 80%, rgba(0,0,0, 0) 100%);
	padding-bottom: 50px;
}

#main_image {
	text-align: center;
}

#footer {
	background-color: BlanchedAlmond;
	font-family: 'Merienda';
	text-align: center;
	height: 150px;
}

#map {
	height: 400px;
	width: 100%;
}

#footer_text{
	display: inline-block;
	font-size: 32px;
	padding-top: 20px;
}
#timer {
	font-size: 56px;
	vertical-align: middle;
}

/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
  float: left;
  width: 45%;
  padding: 5px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}
